.box{
padding: 30px 5px 10px 5px;
background-color:#aaa;
border: 2px;
text-align:center;
font-size:1.2em;
position: relative;
margin:10px;
font-family: Helvetica;
 }

#Chicken{
  text-align:center;
  font-size:45px;
  text-decoration-style:italic;
  text-shadow: 1px 1px;
}
#Sushi{
  text-align:center;
  font-size:45px;
  text-shadow: 1px 1px;
}
#Beef{
  text-align:center;
  font-size:45px;
  text-shadow: 1px 1px;
}



.navbar-text{
  text-align:center;
  color:#696969 ;
}
